{% extends 'base.html' %}
{% block title %}Topoguide - Itineraires index{% endblock %}

{% block content %}
{% if all_itineraires %}
<table>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Difficulté estimée
        </th>
        <th>
            Durée estimée
        </th>
    </tr>
    {% for iti in all_itineraires %}
    <tr>
        <td>
            {{iti.titre}}
        </td>
        <td>
            {{iti.estimated_difficulty}}
        </td>
        <td>
            {{iti.estimated_duration}} h
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p>Aucun itinéraire n'est disponible.</p>
{% endif %}

{% endblock %}