{% extends 'base.html' %}

{% block title %}Topoguide - {{itineraire.titre}}{% endblock title %}

{% block content %}

<h1>{{itineraire.titre}}</h1>
    {{itineraire.description}}
<p>
<table>
    <tr>
        <td>
            <b>Point de départ</b>
        </td>
        <td>
            {{itineraire.start_point}}
        </td>
    </tr>

    <tr>
        <td>
            <b>Altitude de départ</b>
        </td>
        <td>
            {{itineraire.start_altitude}} m
        </td>
    </tr>

    <tr>
        <td>
            <b>Altitude minimale</b>
        </td>
        <td>
            {{itineraire.min_altitude}} m
        </td>
    </tr>

    <tr>
        <td>
            <b>Altitude maximale</b>
        </td>
        <td>
            {{itineraire.max_altitude}} m
        </td>
    </tr>

    <tr>    
        <td>
            <b>Dénivelé positif cumulé</b>
        </td>
        <td>
            {{itineraire.cumulated_slope_up}} m
        </td>
    </tr>

    <tr>
        <td>
            <b>Dénivelé négatif cumulé</b>
        </td>
        <td>
            {{itineraire.cumulated_slope_down}} m
        </td>
    </tr>

    <tr>
        <td>
            <b>Durée estimée</b>
        </td>
        <td>
            {{itineraire.estimated_duration}} h
        </td>
    </tr>

    <tr>
        <td>
            <b>Difficulté estimée</b>
        </td>
        <td>
            {{itineraire.get_estimated_difficulty_display}}
        </td>
    </tr>
    <tr>
    </table>
</p>
    {% with itineraire.sortie_set.all as sorties_list %}
    {% if sorties_list %}
        <table>
            <tr>
                <th>
                    Par
                </th>
                <th>
                    Date
                </th>
                <th>
                    
                </th>
            </tr>
            {% for sortie in sorties_list %}
            <tr>
                <td>
                    {{sortie.writer.username}}
                </td>
                <td>
                    {{sortie.date}}
                </td>
                <td>
                    <button class="button-2" onclick="window.location.href=&quot;{% url 'itineraires:sortie' sortie.id %}&quot;;">
                        Consulter
                      </button>
                      {% if user == sortie.writer %}
                      <button class="button-3" onclick="window.location.href=&quot;{% url 'itineraires:modif_sortie' sortie.id %}&quot;;">Editer</button>
                      {% endif %}
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>Aucune sortie n'a été renseignée.</p>
    {% endif %}
    {% endwith %}
    <form action="{% url 'itineraires:nouvelle_sortie' %}" method="get">
        <button class="button-2" name="i" value="{{itineraire.id}}"> Nouvelle sortie</button>
    </form>
{% endblock content %}