{% extends 'base.html' %}
{% block title %}Topoguide - Itineraires index{% endblock %}

{% block content %}
{% if all_itineraires %}
<table>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Point de départ 
        </th>
        <th>
            Description
        </th>
        <th>
            Durée estimée
        </th>
        <th>
            Difficulté estimée
        </th>
        <th>
            Altitude de départ
        </th>
        <th>
            Altitude minimale
        </th>
        <th>
            Altitude maximale
        </th>
        <th>
            Dénivelé positif cumulé
        </th>
        <th>
            Dénivelé négatif cumulé 
        </th>
    </tr>
    {% for iti in all_itineraires %}
    <tr>
        <td>
            {{iti.titre}}
        </td>
        <td>
            {{iti.start_point}} 
        </td>
        <td>
            {{iti.description}}
        </td>
        <td>
            {{iti.estimated_duration}} h
        </td>
        <td>
            {{iti.estimated_difficulty}}
        </td>
        <td>
            {{iti.start_altitude}} m
        </td>
        <td>
            {{iti.min_altitude}} m
        </td>
        <td>
            {{iti.max_altitude}} m
        </td>
        <td>
            {{iti.cumulated_slope_up}} m
        </td>
        <td>
            {{iti.cumulated_slope_down}} m
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p>Aucun itinéraire n'est disponible.</p>
{% endif %}

{% endblock %}